/* style.css */

/* Nagłówek */
header {
    background-image: url('pictures/header-background.jpg');
    background-size: cover;
    background-position: center;
}

/* Tekst w sekcji głównej */
main h2 {
    color: #007bff; /* Kolor akcentu */
}

main p {
    color: #333;
}

/* Stopka */
footer {
    font-size: 0.9em;
    background-color: #222;
}

.services p::before {
    content: "• "; /* Kropka */
    color: black; /* Kolor kropki */
    margin-right: 5px; /* Odstęp między kropką a tekstem */
}



.contact-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-section h2 {
    margin-bottom: 20px;
    color: #333;
}
.contact-section p {
    margin: 10px 0;
    font-size: 16px;
}
.contact-section a {
    color: #007bff;
    text-decoration: none;
}
.contact-section a:hover {
    text-decoration: underline;
}
